<h2><p style="color: blueviolet; text-align: center;">Welcome to this page!</p></h2>
<br>
<form action="/action_page.php" method="post">
    
  
    <div class="container">
      <label for="uname"><b>Username</b></label>&nbsp;
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br><br>
  
      <label for="psw"><b>Password</b></label>&nbsp;
      <input type="password" placeholder="Enter Password" name="psw" required>&nbsp;
          
      <button type="submit">Login</button>
      
    </div>
  <br>
    
    </form>
