.container{
    margin:50px 50px;
    background-color: #bcacac;
    width: 1000px;
    height: 500px;
    background-image: url('../home/supercars.jpg');
    background-size: cover;
    background-position:left;
    margin-left: auto;
    margin-right: auto;
    background-position: top;
    
    
    
    
    }